@font-face{
    font-family: "Kanit";
    src: url("Kanit-Regular.ttf");
    src: url("Kanit-Regular.ttf") format("ttf"),
    url("Kanit-Regular.ttf") format("opentype"),
    url("Kanit-Regular.ttf") format("svg");
  }
  
  * {
    font-family: "Kanit";
  }

html {
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
    background-color: rgb(10, 10, 10);
    color: #fff;
    margin: 0;
    height: 100%;
}

.main-container {
    vertical-align: baseline;
    padding-top: 24vh;
    margin: 0 auto 24vh;
    max-width: fit-content;
    max-height: fit-content;
}

.title {
    text-align: center;
    font-size: 100;
    margin-bottom: 0;
    margin: 0 auto 0;
}

.text {
    text-align: center;
    margin-bottom: 0;
    margin-right: auto;
}

ul {
    align-content: center;
    list-style-type: none;
    padding-inline-start: 0;
}

.n-li {
    float: left;
    margin-right: 1.5rem;
    margin-top: 1rem;
    font-size: 20;
}

.l-li {
    float: left;
    margin-right: 0;
    margin-top: 1rem;
    font-size: 20;
}

.link-container {
    display: flex;
    justify-content: center;
}

a {
    color: #fff;
    text-decoration: none;
}

.work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 50.1vh;
    margin-bottom: 50vh;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    background-color: #353535;
    padding: 1rem;
    margin: 3rem auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 1rem;
    font-size: 30px;
    text-align: center;

    width: 25vw;
    height: 15vh;
  }