@font-face{
    font-family: "Source Code Pro";
    src: url("SourceCodePro-VariableFont_wght.ttf");
    src: url("SourceCodePro-VariableFont_wght.ttf") format("ttf"),
    url("SourceCodePro-VariableFont_wght.ttf") format("opentype"),
    url("SourceCodePro-VariableFont_wght.ttf") format("svg");
}

  * {
    font-family: "Source Code Pro";
  }

html {
    height: 100%;

    scroll-behavior: smooth;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: rgb(0,0,0);
    color: #fff;
    margin: 0;
    height: 100%;
}

main {
    vertical-align: baseline;
    padding-top: 24vh;
    margin: 0 auto 24vh;
    max-width: fit-content;
    max-height: fit-content;
}

.title {
    text-align: center;
    font-size: 8rem;
    font-weight: bold;
    margin-bottom: 0;
    margin: 0 auto 0;
}

.text {
    text-align: center;
    margin-bottom: 0;
    margin-right: auto;
}

.links {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
}

a {
    padding: .75rem;
    color: #fff;
    font-weight: 515;
    font-size: 1.25rem;
    text-decoration: none;
}

.link-text {
    text-decoration: underline;
}

.form {
    vertical-align: baseline;
    padding-top: 24vh;
    margin: 0 auto 24vh;
    max-width: fit-content;
    max-height: fit-content;
}

.portfolio {
    position: absolute;
    top: 100%;

    padding: 4rem;
}

.portfolio h1 {
    font-size: 5rem;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 2rem;
}

.portfolio-item {
    flex: 1 45%;

    max-width: 60rem;

    background-color: #000;

    border: 1px solid #fff;
    border-width: 1px;
    border-color: #fff;
    border-radius: 1rem;

    display: inline-block;
}

.portfolio-item iframe {
    border-radius: 1rem 1rem 0 0 !important;
}

.portfolio-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

    border-radius: 1rem 1rem 0 0 !important;
}

.portfolio-item p {
    margin: 1rem;
}

input[type=submit] {
    border-width: 3px;
    border-style: dashed;
    border-radius: 0;
    padding: 0.3rem;

    background-color: black;
    color: white;
    text-size-adjust: 1rem;
}

input[type=url] {
    border: 3px #fff;
    border-style: none none solid none;

    padding: 0.3rem;

    background-color: black;
    color: white;

    font-size: large;
    width: 45%;

    &:active, &:focus {
        outline: none;
    }
}

.game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fps {
  white-space: pre;
  font-family: monospace;
}