@font-face{
    font-family: "Source Code Pro";
    src: url("SourceCodePro-VariableFont_wght.ttf");
    src: url("SourceCodePro-VariableFont_wght.ttf") format("ttf"),
    url("SourceCodePro-VariableFont_wght.ttf") format("opentype"),
    url("SourceCodePro-VariableFont_wght.ttf") format("svg");
  }

  * {
    font-family: "Source Code Pro";
  }

html {
    height: 100%;
}

body {
    background-color: rgb(0,0,0);
    color: #fff;
    margin: 0;
    height: 100%;
}

main {
    vertical-align: baseline;
    padding-top: 24vh;
    margin: 0 auto 24vh;
    max-width: fit-content;
    max-height: fit-content;
}

.title {
    text-align: center;
    font-size: 8rem;
    font-weight: bold;
    margin-bottom: 0;
    margin: 0 auto 0;
}

.text {
    text-align: center;
    margin-bottom: 0;
    margin-right: auto;
}

nav {
    padding: 2rem;
}

a {
    padding: .75rem;
    color: #fff;
    font-weight: 515;
    font-size: 1.25rem;
    text-decoration: none;
}

.link-text {
    text-decoration: underline;
}

.form {
    vertical-align: baseline;
    padding-top: 24vh;
    margin: 0 auto 24vh;
    max-width: fit-content;
    max-height: fit-content;
}