{% extends 'game_layout' %}
{% block content %}

<div class="game-container">
    <div class="control-list">
        <p id="fps"></p>
        <button class="button" id="play-pause"></button>
        <button class="button" id="clear">clear</button>
    </div>
    <canvas id="conway-canvas"></canvas>
    <script type="module" src="/game_files/conway/index.js"></script>

</div>

{% endblock content %}