<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>rust &lt3</title>
        <meta name="description" content="my website">
        <meta http-equiv="Content-Security-Policy"
            content="default-src 'self' 'wasm-unsafe-eval'; img-src 'self'; child-src 'none'; frame-src 'none';">
        <link rel="preload" fetchpriority="high" href="/static/main.css" as="style">
        <link rel="preload" fetchpriority="high" href="/static/webfonts/JetBrainsMono-Regular_compact.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="stylesheet" href="/static/main.css">
        <link rel="shortcut icon" href="/static/favicon.ico">
    </head>
    <body>
            {% block content %}
            {% endblock %}
    </body>
</html>