{% extends 'layout' %}
{% block content %}

<p class="title">Conway</p>
<button id="greet-button">Greet</button>
<script type="module" src="/static/conway/index.js"></script>
<div class="game-container" id="container">
</div>

{% endblock content %}