{% extends 'layout' %}
{% block content %}

<p class="title">Conway</p>
<script type="module" src="/static/conwy/index.js"></script>
<div class="game-container" id="container">
</div>

{% endblock content %}