<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Security-Policy"
            content="default-src 'self'; img-src 'self'; child-src 'none'; frame-src https://www.youtu.be;">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/all.min.css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <title>plexx.dev</title>
    </head>
    <body>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>