{% extends 'game_layout' %}
{% block content %}

<div class="game-container">
    <p id="score"></p>
    <canvas id="snake-canvas"></canvas>
    <button id="start" class="button">start/stop</button>
    <script type="module" src="/game_files/snake/index.js"></script>
</div>
<div class="game-container">
    <p id="start-text" class="start-stop">press any arrowkey / wasd or space to start</p>
</div>

{% endblock content %}