{% extends 'game_layout' %}
{% block content %}

<div class="game-container">
    <p id="score"></p>
    <canvas id="snake-canvas"></canvas>
    <p id="start-text">press any arrowkey to start</p>
    <button id="start">pause</button>
    <script type="module" src="/game_files/snake/index.js"></script>
</div>

{% endblock content %}